<% layout ("/layouts/boilerplate.ejs") %>
<style>
    .box{
      margin-top: 50px;
      margin-bottom: 20px;
    }
</style>
<div class=" box">
    <h2>By clicking to Addfees you add a semester and fees to each student.</h2>
</div>
<form method="get" action="/student/addFees">
    <button class="btn btn-primary">Add fees</button>
</form>